* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	min-width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background-color: #beddfa;
}

body::-webkit-scrollbar {
	display: none;
}

.bg-container {
	margin: 0 1rem;
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
